<% include ../partials/header %>
<div class='container'>
  <form method='POST' action="<%= `/foods/${user.id}` %>" >
    <input name='foodName' type='text'>
    <button type='submit'>Add it!</button>
  </form>
</div>

<% include ../partials/footer %>