<% include ../partials/header %>
<div class='container'>
  <div class='welcmsg'>
    <h1>Thank you for returning to Healthify.</h1>
  </div>
  <form class='full' action='/auth/login' method='post'>
    <div class='fields'>
      <div>
        <label>Username:</label>
        <input type='text' name='username' />
      </div>
      <div>
        <label>Password:</label>
        <input type='password' name='password' />
      </div>
    </div>
      <input type='submit' value='Log In'>
  </form>
</div>
<% include ../partials/footer %>
