<% include ../partials/header %>
  <div class='container'>
    <form action='/auth/register' method='post'>
      <div class='fields'>
      <div>
        <label>Username:</label>
        <input type='text' required name='username' />
      </div>
      <div>
        <label>Password:</label>
        <input type='password' required name='password' />
      </div>
      </div>
      <div class='fields'>
      <div>
        <label>Full Name:</label>
        <input type='text' required name='fullName' />
      </div>
      <div>
        <label>Email:</label>
        <input type='text' required name='email' />
      </div>
      </div>
      <div>
        <input type='submit' value='Register' />
      </div>
    </form>
  </div>


<% include ../partials/footer %>
