  </div>
  <footer>
    <div class='footercol'>
      Healthify was made by <a class='good' href='https://github.com/TSAGONG' target='_blank'>Tenzin Tsagong</a>, <a class='good' href='https://github.com/karthmeda' target='_blank'>Karthik Meda</a>, and <a class='good' href='https://github.com/jlr7245/' target='_blank'>J Silverstein.</a>
    </div>
    <div class='footercol'>
      <a class='warn bgr' href='https://github.com/jlr7245/healthify'><i class='fa fa-github fa-fw'></i> Healthify on Github</a>
    </div>
    <div class='footercol'>
      Icons from various creators on <a class='neutral' href='http://thenounproject.com' target='_blank'>The Noun Project</a>. See project readme for full credits.
    </div>
  </footer>
  </body>
</html>