  </div>
  <footer>
    <div class='footercol'>
      Column 1
    </div>
    <div class='footercol'>
      Column 2
    </div>
    <div class='footercol'>
      Column 3
    </div>
  </footer>
  </body>
</html>