<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://use.fontawesome.com/d41e1f89a6.js"></script>
    <script src="https://use.typekit.net/nft4ycs.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body class='home'>
    <% include ./nav %>
    