<nav>
  <div class='logo'>
    <img src='./images/logo.png'>
    <a href='/'>Healthify</a>
  </div>
  <div class='navigation'>
    <ul class='navlist'>
      <li><a href='/search'><i class='fa fa-search fa-fw'></i> Search</a></li>
      <li><a href='/user'><i class='fa fa-user fa-fw'></i> Account</a></li>
    </ul>
  </div>
</nav>