<% include ./partials/header %>


 <div class='container'>
  <h1>Take control of your eating habits.</h1>
  <div class='buttons'>
    <button class='hm login' href='/user'>Log In</button>
    <button class='hm reg' href='/register'>Register</button>
  </div>
</div>


<% include ./partials/footer %>

