<% include ./partials/header %>


 <div class='container'>
  <h1>Take control of your eating habits.</h1>
  <div class='buttons'>
    <a class='hm login' href='/auth/login'>Log In</a>
    <a class='hm reg' href='/auth/register'>Register</a>
  </div>
</div>


<% include ./partials/footer %>

