<% include ../partials/header %>
<div class='container'>
  
  <div class='top'>
    <h1>Welcome back, <%= user.fullName %>.</h1>
    <a class='btn' href='/auth/logout'>Log out</a>
    <a class='btn' href='/foods'>Add foods</a>
  </div>
  
  <div class='todaysmeals'>
    <h4><img src='/images/meals-icon.png'> Today's Meals</h4>
    <a href='/meals'>Add a meal</a>
    <ul>
      <% if (meals.length !== 0) { %>
        <% meals.forEach((meal) => { %>
         <% if (moment(meal.createdAt).format('DDD, Y') == moment().format('DDD, Y') ) { %>
          <% include ../partials/todaymeal %>
         <% } %>
      <% }) %>
      <% } %>
    </ul>
  </div>
  
  <div class='tabntr'>
    
    <div id='tabs' class='tbbr'>
      <div class='tabnav'>
        <ul>
          <li class='tablink actv'><img src='/images/pantry-icon.png'> Pantry</li>
          <li class='tablink'>Weekly Meals</li>
        </ul>
      </div>
      
      <div id='tabcontent'>
        <div class='foods actv tabcont'>
          <ul id='pantrycontainer'>
          <% if (foods.length !== 0) { %>
           <% foods.forEach((food) => { %>
            <% if (!food.updated) { %>
               <li class='pantryitem' data-id='<%= food.id %>'>
                <% include ../partials/fooditem %>
               </li>
             <% } %>
            <% }); %>
          <% } else { %>
            <p>You haven't added any foods yet!</p>
            <a class='btn' href='/foods'>Add Foods</a>
            <% } %>
          </ul>
        </div>
        <div class='meals tabcont'>
          
        </div>
      </div>
    </div>
    
    <div class='nutritiontrack'>
      Weekly nutrition chart goes here (d3??? 🤔)
    </div>
  
  </div>
  
  <div class='archives'>
    <ul id='archive'>
      <% if (foods.length !== 0) { %>
       <% foods.forEach((food) => { %>
        <% if (food.updated) { %>
           <li class='archiveitem' data-id='<%= food.id %>'>
            <% include ../partials/fooditem %>
           </li>
         <% } %>
        <% }); %>
      <% } else { %>
        <p>You haven't archived any foods yet!</p>
      <% } %>
    </ul>
  </div>
  
</div>


<script src='/javascripts/dashtabs.js'></script>
<script src='/javascripts/pantryhelpers.js'></script>
<% include ../partials/footer %>


