<% include ../partials/header %>
<div class='container'>
  
  <div class='top'>
    <h1 id='welcome'>Welcome, <%= user.fullName %>.</h1>
    <a class='btn' href='/auth/logout'>Log out</a>
  </div>
  
  <div class='todaysmeals'>
    <h4><img src='/images/meals-icon.png'> Today's Meals</h4>
    <a href='/meals' class='btn' id='addmealbutton'>Add a meal</a>
    <ul id='todaymeals'>
      <% let mealCounter = 0; %>
      <% if (meals.length !== 0) { %>
        <% meals.forEach((meal) => { %>
         <% if (moment(meal.createdAt).tz('America/New_York').format('DDD, Y') == moment().tz('America/New_York').format('DDD, Y') ) { %>
          <% include ../partials/todaymeal %>
          <% mealCounter += 1 %>
         <% } %>
      <% }) %>
      <% } else if (meals.length === 0 || mealCounter === 0) { %>
        <a href='/meals'>Add a meal!</a>
      <% } %>
    </ul>
  </div>
  
  <div class='tabntr'>
    
    <div id='tabs' class='tbbr'>
      <div class='tabnav tab-nav'>
        <ul>
          <li class='tablink actv' id='pantrytab'><img src='/images/pantry-icon.png'> Pantry</li>
          <li class='tablink' id='mealstab'>Weekly Meals</li>
        </ul>
      </div>
      
      <div id='tabcontent'>
        <div class='foods actv tabcont'>
         <a class='btn' href='/foods'>Add Foods</a>
          <ul id='pantrycontainer'>
          <% if (foods.length !== 0) { %>
           <% foods.forEach((food) => { %>
            <% if (!food.updated) { %>
               <li class='pantryitem' data-id='<%= food.id %>'>
                <% include ../partials/fooditem %>
               </li>
             <% } %>
            <% }); %>
          <% } else { %>
            <p>You haven't added any foods yet!</p>
            <a class='btn' href='/foods'>Add Foods</a>
            <% } %>
          </ul>
        </div>
        <div class='meals tabcont'>
          <ul>
            <% if (meals.length !== 0) {%>
              <% meals.reverse(); %>
              <% meals.forEach((meal) => { %>
                <% if (moment(meal.createdAt).tz('America/New_York').format('w, YYYY') == moment().tz('America/New_York').format('w, YYYY') ) { %>
                <% include ../partials/todaymeal %>
                <% } %>
             <% }) %>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    
    <div class='nutritiontrack' id='nutritionfacts'>
      <div id='nutabs' class='tabbr'>
        <div class='nutnav tab-nav'>
          <ul>
            <li class='nulink actv'>Today's Nutrition</li>
            <li class='nulink'>Weekly Stats</li>
          </ul>
        </div>
        <div id='nutabcontent'>
          <div class='nucontent actv'>
            <% include ../partials/todaynutrition %>
          </div>
          <div class='nucontent'>
            Weekly nutrition chart goes here (d3??? 🤔)
          </div>
        </div>
      </div>

    </div>

  </div>
  
  <div class='archives'>
    <ul id='archive'>
      <% if (foods.length !== 0) { %>
       <% foods.forEach((food) => { %>
        <% if (food.updated) { %>
           <li class='archiveitem' data-id='<%= food.id %>'>
            <% include ../partials/fooditem %>
           </li>
         <% } %>
        <% }); %>
      <% } else { %>
        <p>You haven't archived any foods yet!</p>
      <% } %>
    </ul>
  </div>
  
</div>

<script>
  const id = <%= user.id %>;
</script>
<script src='/javascripts/dashtabs.js'></script>
<script src='/javascripts/pantryhelpers.js'></script>
<% if (user.isNew == 'yes') {%>
  <script src='/javascripts/dash-tour.js'></script> 
<% } %>
<% include ../partials/footer %>


