<% include ../partials/header %>
<div class='container'>
  
  <div class='top'>
    <h1>Welcome back, <%= user.fullName %>.</h1>
    <a class='btn' href='/auth/logout'>Log out</a>
  </div>
  
  <div class='todaysmeals'>
    <h4>Today's Meals</h4>
    <ul>
      <li>
        <h3>Breakfast</h3>
        <p>Information goes here</p>
        <span class='time'>7:00 AM</span>
      </li>
      <li>
        <h3>Lunch</h3>
        <p>Information goes here</p>
        <span class='time'>12:00 PM</span>
      </li>
      <li>
        <h3>Snack</h3>
        <p>Information goes here</p>
        <span class='time'>6:00 PM</span>
      </li>
      <li>
        <h3>Dinner</h3>
        <p>Information goes here</p>
        <span class='time'>6:00 PM</span>
      </li>
    </ul>
  </div>
  
  <div class='tabntr'>
    
    <div id='tabs' class='tbbr'>
      <div class='tabnav'>
        <ul>
          <li class='tablink actv'><img src='/images/pantry-icon.png'> Pantry</li>
          <li class='tablink'>Weekly Meals</li>
        </ul>
      </div>
      
      <div id='tabcontent'>
        <div class='foods actv tabcont'>
          <ul>
          <% if (foods.length !== 0) { %>
           <% foods.forEach((food) => { %>
             <li>
              <% include ../partials/fooditem %>
             </li>
            <% }); %>
          <% } else { %>
            <p>You haven't added any foods yet!</p>
            <a class='btn' href='/foods'>Add Foods</a>
            <% } %>
          </ul>
        </div>
        <div class='meals tabcont'>
          
        </div>
      </div>
    </div>
    
    <div class='nutritiontrack'>
      Weekly nutrition chart goes here (d3??? 🤔)
    </div>
  
  </div>
  
</div>

<script src='/javascripts/dashtabs.js'></script>
<% include ../partials/footer %>


