<% include ../partials/header %>
<div class='container'>
  <div class='top'>
    <h1>Welcome back, <%= user.fullName %>.</h1>
    <a class='btn' href='/auth/logout'>Log out</a>
  </div>
  <div class='todaysmeals'>
    <h4>Today's Meals</h4>
    <ul>
      <li>
        <h3>Breakfast</h3>
        <p>Information goes here</p>
        <span class='time'>7:00 AM</span>
      </li>
      <li>
        <h3>Lunch</h3>
        <p>Information goes here</p>
        <span class='time'>12:00 PM</span>
      </li>
      <li>
        <h3>Snack</h3>
        <p>Information goes here</p>
        <span class='time'>6:00 PM</span>
      </li>
      <li>
        <h3>Dinner</h3>
        <p>Information goes here</p>
        <span class='time'>6:00 PM</span>
      </li>
    </ul>
  </div>
  <div class='foods'>
    <% if (foods !== undefined) { %>
     <% foods.forEach((food) => { %>
       <li><%= JSON.stringify(food) %></li>
      <% }); %>
    <% } %>
  </div>
</div>

<% include ../partials/footer %>


