/* Variables */
/* Body */
body {
  font-family: "brandon-grotesque", helvetica, sans-serif; }

.container {
  padding-top: 50px;
  max-width: 90vw;
  margin: 0 auto; }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 80vw; } }

.wrapper {
  min-height: 90vh; }

footer {
  background-color: #EBE8E1;
  color: #0E38B1;
  padding: 50px 10vw;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 800px) {
    footer {
      flex-direction: row; } }
  footer .footercol {
    flex: 1; }

input[type=text], input[type=password], textarea {
  border-bottom: 3px solid #32B67A;
  font-size: 1.5em;
  display: block;
  margin: 20px 0;
  padding: 5px;
  font-family: "alternate-gothic-no-2-d", impact, sans-serif;
  width: 100%;
  transition: 0.2s all; }
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-color: #F0CF61;
    transition: 0.2s all;
    outline: 0; }

form {
  width: 50vw;
  border: 1px solid #eee;
  padding: 50px;
  margin: 0 auto;
  text-align: center; }
  form label {
    color: #ccc;
    font-size: 0.8em;
    text-transform: uppercase; }
  form input[type=submit] {
    font-size: 1.8em;
    margin: 20px;
    padding: 5px 40px;
    background-color: #0E38B1;
    color: #EBE8E1;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s all; }
    form input[type=submit]:hover {
      background-color: #32B67A;
      transition: 0.3s all; }
  form .fields {
    display: flex;
    text-align: left; }
    form .fields div {
      margin: 15px;
      flex: 1; }

/* Nav */
nav {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  background-color: #32B67A;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  border-bottom: 1px solid #278e5f; }
  @media screen and (max-width: 800px) {
    nav {
      flex-direction: column;
      align-items: center; } }
  @media screen and (min-width: 800px) {
    nav ul li {
      display: inline-block;
      font-size: 20px; } }
  nav ul li a {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    transition: 0.2s all;
    border-radius: 10px; }
    nav ul li a:hover {
      background-color: #0E38B1;
      transition: 0.2s all; }
    nav ul li a i {
      color: #F0CF61; }
  nav .logo {
    display: flex;
    align-items: center; }
    nav .logo a {
      color: white;
      font-size: 30px;
      text-decoration: none;
      margin: auto 20px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px; }
    nav .logo img {
      max-height: 80px; }

/* Home */
.home nav {
  position: fixed; }

.home .container {
  min-height: 100vh;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../images/1762.jpg");
  background-size: cover; }
  @media screen and (max-width: 800px) {
    .home .container {
      min-height: 70vh; } }
  .home .container h1 {
    color: white;
    font-size: 4em;
    font-family: "leitura-news", georgia, sans-serif; }
  .home .container .hm {
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
    margin: 50px 15px;
    font-size: 2em;
    border: 5px solid #F0CF61;
    border-radius: 10px;
    background-color: rgba(50, 182, 122, 0.8);
    transition: 0.2s all;
    color: white;
    cursor: pointer; }
    .home .container .hm:hover {
      background-color: #0E38B1;
      transition: 0.2s all; }

/* Login */
.welcmsg {
  text-align: center;
  margin: 20px 0 70px 0; }
  .welcmsg h1 {
    font-family: "leitura-news", georgia, sans-serif;
    font-size: 3em; }

/* dashboard */
.top h1 {
  font-size: 3em;
  font-family: "leitura-news", georgia, sans-serif; }

.todaysmeals {
  margin: 20px 0; }
  .todaysmeals ul {
    display: flex;
    margin: 15px 0; }
    @media screen and (max-width: 800px) {
      .todaysmeals ul {
        flex-direction: column;
        max-height: 300px;
        overflow-x: auto;
        border: 3px solid #EBE8E1;
        padding: 15px; } }
    .todaysmeals ul li {
      border: 1px solid #ddd;
      padding: 20px;
      margin: 5px;
      flex: 1; }
      .todaysmeals ul li h3 {
        font-family: "alternate-gothic-no-2-d", impact, sans-serif;
        font-size: 1.8em; }
      .todaysmeals ul li p {
        padding: 20px 0; }
      .todaysmeals ul li .time {
        background-color: #0E38B1;
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
        padding: 3px 5px;
        border-radius: 10px; }

.foods {
  user-select: none; }
  .foods ul li {
    display: flex;
    margin: 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee; }
    .foods ul li .foodsub {
      border-left: 1px solid #eee;
      display: flex;
      align-items: center;
      padding: 0 10px; }
      .foods ul li .foodsub img {
        height: 104px;
        width: 150px; }
      .foods ul li .foodsub label {
        display: block;
        font-size: 0.8rem;
        color: #ccc;
        text-transform: uppercase;
        margin: 5px; }
      .foods ul li .foodsub h2 {
        font-size: 1.3em;
        margin: 0 0 0 10px;
        text-transform: capitalize;
        font-family: "leitura-news", georgia, sans-serif; }

.first {
  flex: 2; }

.second, .third, .fourth {
  flex: 1; }

.fourth, .third {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important; }

.third .warn, .third .good, .third .neutral {
  cursor: pointer;
  margin: 2px 0;
  position: relative; }
  .third .warn .tooltip, .third .good .tooltip, .third .neutral .tooltip {
    visibility: hidden;
    min-width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -25%;
    left: 20%;
    margin-left: 60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s; }
    .third .warn .tooltip:after, .third .good .tooltip:after, .third .neutral .tooltip:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #555 transparent transparent; }
  .third .warn:hover .tooltip, .third .good:hover .tooltip, .third .neutral:hover .tooltip {
    visibility: visible;
    opacity: 1; }

.third .warn {
  color: #F03F35;
  border-bottom: 1px dotted #F03F35; }

.third .good {
  color: #32B67A;
  border-bottom: 1px dotted #32B67A; }

.third .neutral {
  color: #F0CF61;
  border-bottom: 1px dotted #F0CF61; }

/*# sourceMappingURL=style.css.map */