/* Variables */

$brand: #32B67A;
$brand2: #0E38B1;
$accent: #F0CF61;
$accent-light: #EBE8E1;
$warn: #F03F35;

$bgr: "brandon-grotesque", helvetica, sans-serif;
$altg: "alternate-gothic-no-2-d", impact, sans-serif;
$ltn: "leitura-news", georgia, sans-serif;


/* Body */
body {
  font-family: $bgr;
}

/* Nav */
nav {
  display: flex;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  background-color: $brand;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  border-bottom: 1px solid darken($brand, 10);
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
  ul {
    li {
      @media screen and (min-width: 800px) {
        display: inline-block;
        font-size: 20px;
      }
      a {
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        transition: 0.2s all;
        border-radius: 10px;
        &:hover {
          background-color: $brand2;
          transition: 0.2s all;
        }
        i {
          color: $accent;
        }
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    a {
      color: white;
      font-size: 30px;
      text-decoration: none;
      margin: auto 20px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    img {
      max-height: 80px;
    }
  }
}

/* Home */

.home .container {
  min-height: 100vh;
  padding: 0 150px;
  @media screen and (max-width: 800px) {
    min-height: 70vh;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('../images/1762.jpg');
  background-size:cover;
  h1 {
    color: white;
    font-size: 4em;
    font-family: $ltn;
  }
  .hm {
    display: inline-block;
    padding: 5px 20px;
    margin: 50px 15px;
    font-size: 2em;
    border: 5px solid $accent;
    border-radius: 10px;
    background-color: rgba($brand, 0.8);
    transition: 0.2s all;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: $brand2;
      transition: 0.2s all;
    }
  }
}