/* Variables */

$brand: #32B67A;
$brand2: #0E38B1;
$accent: #F0CF61;
$accent-light: #EBE8E1;
$warn: #F03F35;

$bgr: "brandon-grotesque", helvetica, sans-serif;
$altg: "alternate-gothic-no-2-d", impact, sans-serif;
$ltn: "leitura-news", georgia, sans-serif;

$pencilbrdr: 1px solid #eee;


/* ============= Body */
body {
  font-family: $bgr;
}

.container {
  padding-top: 50px;
  max-width: 90vw;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    max-width: 80vw;
  }
}

.wrapper {
  min-height: 90vh;
}

footer {
  background-color: $accent-light;
  color: $brand2;
  padding: 50px 10vw;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
  .footercol {
    flex: 1;
  }
}


/* ====================== FORM */

input[type=text], input[type=password], textarea {
  border-bottom: 3px solid $brand;
  font-size: 1.5em;
  display: block;
  margin: 20px 0;
  padding: 5px;
  font-family: $altg;
  width: 100%;
  transition: 0.2s all;
  &:focus {
    border-color: $accent;
    transition: 0.2s all;
    outline:0;
  }
}

form {
  width: 50vw;
  border: 1px solid #eee;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  label {
    color: #ccc;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  input[type=submit] {
    font-size: 1.8em;
    margin: 20px;
    padding: 5px 40px;
    background-color: $brand2;
    color: $accent-light;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      background-color: $brand;
      transition: 0.3s all;
    }
  }
  .fields {
    display: flex;
    text-align:left;
    div {
      margin: 15px;
      flex: 1;
      display: flex;
    }
  }
  
  select {
    font-size: 1.5em;
    font-family: $altg;
    flex: 1;
    padding: 0 25px;
    
    option {
      font-size: 1rem;
      font-family: $altg;
    }
  }
}

/* ================= NAVIGATION */

nav {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  background-color: $brand;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  border-bottom: 1px solid darken($brand, 10);
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
  ul {
    li {
      @media screen and (min-width: 800px) {
        display: inline-block;
        font-size: 20px;
      }
      a {
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        transition: 0.2s all;
        border-radius: 10px;
        &:hover {
          background-color: $brand2;
          transition: 0.2s all;
        }
        i {
          color: $accent;
        }
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    a {
      color: white;
      font-size: 30px;
      text-decoration: none;
      margin: auto 20px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    img {
      max-height: 80px;
    }
  }
}

/* ========================= HOME */

.home {
  nav {
    @media screen and (min-width: 800px) {
      position: fixed;
    }
  }
  .container {
    min-height: 100vh;
    padding: 0 150px;
    @media screen and (max-width: 800px) {
      min-height: 70vh;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1 {
      color: white;
      font-size: 4em;
      font-family: $ltn;
    }
    .hm {
      display: inline-block;
      text-decoration:none;
      padding: 5px 20px;
      margin: 50px 15px;
      font-size: 2em;
      border: 5px solid $accent;
      border-radius: 10px;
      background-color: rgba($brand, 0.8);
      transition: 0.2s all;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: $brand2;
        transition: 0.2s all;
      }
    }
  }
  .wrapper {
    background-image: url('../images/1762.jpg');
    background-size: cover;
    background-position: center center;
  }
}

/* =================== LOGIN */
.welcmsg {
  text-align: center;
  margin: 20px 0 70px 0;
  h1 {
    font-family: $ltn;
    font-size: 3em;
  }
}

/* ===================== DASHBOARD */

.user {
  background-color: lighten($accent-light, 7);
}
.top {
  h1 {
    font-size: 3em;
    font-family: $ltn;
  }
}

.btn {
  
}

.dash-container {
  background-color: white;
  margin: 20px 15px;
  padding: 50px;
  border-radius: 5px;
}

/* ============ TODAYS MEALS ============ */

.todaysmeals {
  @extend .dash-container; 
  h4 {
    font-family: $altg;
    font-size: 2em;
    img {
      max-height: 3rem;
      vertical-align: middle;
    }
  }
  ul {
    display: flex;
    margin: 15px 0;
    flex-wrap: wrap;
    user-select: none;
    @media screen and (max-width: 800px) {
      flex-direction: column;
      flex-wrap: nowrap;
      max-height: 300px;
      overflow-y: auto;
      border: $pencilbrdr;
      padding: 15px;
    }
    li {
      border: 1px solid #ddd;
      margin: 5px;
      flex: 1;
      @media screen and (max-width: 800px) {
        display: block;
      }
      @media screen and (min-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      @media screen and (min-width: 1090px) {
        max-width: 32%;
      }
      .info {
        padding: 20px;
      }
      h3 {
        font-family: $ltn;
        font-size: 1.3em;
        margin-bottom: 15px;
        text-transform: capitalize;
      }
      p {
        padding: 10px 0;
      }
      .ingredients {
        color: #aaa;
        font-size: 0.9rem;
      }
      .comments {
        font-size: 1.1rem;
      }
      .nutrients {
        @media screen and (min-width: 800px) {
          height: 40px;
        }
        display: flex;
        @media screen and (max-width: 500px) {
          flex-direction: column;
        }
        div {
          flex: 1;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: space-around;
          @media screen and (max-width: 500px) {
            justify-content: center;
          }
          padding: 5px;
          border-top: $pencilbrdr;
          label {
            font-size: 0.5rem;
            text-transform: uppercase;
            color: #aaa;
            @media screen and (max-width: 500px) {
              margin-right: 5px;
            }
          }
        }
      }
      .time {
        background-color: $brand2;
        font-family: $bgr;
        letter-spacing: 1px;
        color: white;
        font-size: 0.8rem;
        display: inline-block;
        vertical-align: top;
        text-transform:uppercase;
        padding: 3px 5px;
        border-radius:10px;
        margin: 0 3px;
      }
    }
  }
}

/* ============= SET UP FOR TABS ============= */

.tabntr {
  display: flex;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.tbbr {
  @extend .dash-container;
  flex: 3;
}

.tabnav {
  margin: 0 0 15px 0;
  ul {
    display: flex;
    li {
      flex: 1;
      text-align: center;
      padding: 0 0 15px;
      border-bottom: 3px solid #ddd;
      cursor: pointer;
      font-family: $altg;
      font-size: 2em;
      img {
        max-height: 1.5em;
        vertical-align:middle;
        margin: 0 10px;
      }
    }
    li.actv {
      border-bottom: 3px solid $brand;
    }
  }
}

#tabcontent {
  max-height: 500px;
  overflow-x: auto;
  .tabcont {
    display: none;
  }
  .actv {
    display: block;
  }
}


/* ================== FOODSLIST STYLING ================ */

.foods, .archives {
  user-select: none;
  ul {
    font-size: 0.8em;
    li {
      display: flex;
      @media screen and (max-width: 800px) {
        flex-direction: column;
      }
      margin: 5px;
      border-top: $pencilbrdr;
      border-bottom: $pencilbrdr;
      border-right: $pencilbrdr;
      .foodsub {
        img {
          height: 75px;
          width: 85px;
          margin-left: -10px;
        }
        border-left: $pencilbrdr;
        display: flex;
        align-items:center;
        padding: 0 10px;
        label {
          display: block;
          font-size: 0.8em;
          color: #ccc;
          text-transform: uppercase;
          margin: 5px;
        }
        h2 {
          font-size: 1.3em;
          margin: 0 0 0 10px;
          text-transform: capitalize;
          font-family: $ltn;
        }
      }
    }
  }
}

.first {
  flex: 4;
}

.second, .third {
  flex: 2;
}

.fourth {
  flex: 1;
}

.fourth, .third {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
}

.third {
  .warn, .good, .neutral {
    cursor: pointer;
    margin: 2px 0;
    position: relative;
    /* ========= TOOLTIPS */
    .tooltip {
      display: none;
      min-width: 60px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      bottom: -25%;
      left: 20%;
      margin-left: 60px;
      opacity: 0;
      transition: opacity 1s;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #555 transparent transparent;
      }
    }
    &:hover .tooltip {
      display: block;
      opacity: 1;
    }
  }
  .warn {
    color: $warn;
    border-bottom: 1px dotted $warn;
  }
  .good {
    color: $brand;
    border-bottom: 1px dotted $brand;
  }
  .neutral {
    color: $accent;
    border-bottom: 1px dotted $accent;
  }
}

#archive {
  img {
    display: none;
  }
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
  li {
    @media screen and (min-width: 800px) {
      min-width: 48%;
    }
  }
  .fourth {
    display: none;
  }
}

/* ============ NUTRITION TRACKER STYLING =========== */
.nutritiontrack {
  @extend .dash-container;
  flex: 1;
}

/* ======= ARCHIVE STYLING === */
.archives {
  @extend .dash-container;
}